.centeredBtn {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: center;
}

.centeredTxt {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  justify-content: center;

}

.textStyle {
  border: 4px solid black;
  margin: 20px;
  height: 300px;
  background: white;
}

.outsideStyle {
  height: 100%;
  background: #ededed;
}



.divStyle {
  border: 1px solid gray;
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: center;
  background: white;
}

.btn {
  background: white;
  border-radius: 4px;
  width: 35px;
  height: 35px;
  color: black;
  margin: 3px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
