h2 {
  color: blue;
}

h1 {
  margin-left: 25px;
}

.toolbar {
  border-bottom: 2px solid orange;
  padding: 10px;
}

.toolbar > * {
  margin-right: 5px;
}

.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

.register, .login {
  margin: 0;
  text-align: center;
}
