h2 {
  color: blue;
}

.toolbar {
  border-bottom: 2px solid orange;
  padding: 10px;
}

.toolbar > * {
  margin-right: 5px;
}

.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}
